<h1>Journal Entries</h1>

<h3>Add a Journal Entry</h3>
<%= link_to 'New journal entry', new_journal_path %>

<% @journals.each do |journal| %>
<ul>
  <li><%= link_to(journal.event_title, journal_path(journal.id))%><%= journal.event_date %></li>
  <% end %>
</ul>
