<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
         <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "logout",destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
